<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Net35Projects.AppConstants" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
        <appSettings>
          <add key="a" value="2"/>
        </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Net35Projects.AppConstants>
            <setting name="GlobalNameOfApplication" serializeAs="String">
                <value>Net35Projects001</value>
            </setting>
            <setting name="GlobalMaxRetryAttempts" serializeAs="String">
                <value>3</value>
            </setting>
        </Net35Projects.AppConstants>
    </userSettings>
</configuration>
