<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="UniversalStore" value="https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store/nuget/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="UniversalStore" value="https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store/nuget/v3/index.json" />
  </packageSources>
</configuration>