<section class="nav-section-group">
  <section class="nav-section">
    <section class="nav-float-left">
      <span class="logo">

      </span>
      <span class="nav">
        <a routerLink="characters">Characters</a>
        <a routerLink="comics">Comics</a>
        <a routerLink="movies">Movies</a>
        <a routerLink="tvshows">Tv shows</a>
        <a routerLink="collectibles">Collectibles</a>
        <a routerLink="forums">Forums</a>
      </span>
    </section>
    <section class="nav-float-right">
      <span class="search-bar">
        <input type="search">
      </span>
    </section>
  </section>
</section>
<section class="content-group">
    <router-outlet></router-outlet>
</section>
