<section class="page-container-group">
    <section class="page-container">
      <mat-form-field>
        <input matInput placeholder="Enter your username" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" type="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm password" type="password">
      </mat-form-field>
      <button mat-raised-button style="width: 100%; background-color: #b01248;">REGISTER</button>
      <section class="sub-action-links">
          <a href="#take_a_tour">Take a tour</a>
          <a href="#call_helpline">Call helpline</a>
        </section>
    </section>
  </section>