<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MembershipAuthN" version="9.0.15257.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Membership.Communications.Client" version="9.0.17284.3" targetFramework="net45" />
  <package id="Microsoft.Passport.Rps" version="6.7.6643.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net45" />
</packages>