<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TamilYogiDbConnection" connectionString="Data Source=hydpcm347350d;Initial Catalog=TamilYogiDb;User Id=eidev;Password=1timep;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RetryAttempts" value="2"/>
    <add key="breakupTime" value="6"/>
    <add key="RequestTypesToBeTracked" value="TBN,BulkSend"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITriggerRequestNotification" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00"
          sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="296960"
          maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
          maxBytesPerRead="296960" maxNameTableCharCount="296960" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" negotiateServiceCredential="false" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
		<behavior name="DefaultEndPointBehavior">
			<webHttp helpEnabled="true" />
		</behavior>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="1B647BE314FBC0E8ECCD885C3442A9E63C7EB5B5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--Azure Primary URL-->
      <endpoint address="https://emailinterchangeapi-dev.trafficmanager.net/TriggerRequestNotification.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITriggerRequestNotification" contract="AzureServiceReference.ITriggerRequestNotification" name="PrimaryEndpoint" behaviorConfiguration="ClientCertificateBehavior"/>
      <!--Azure Secondary URL-->
      <endpoint address="https://emailinterchangeapi-dev.trafficmanager.net/TriggerRequestNotification.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITriggerRequestNotification" contract="AzureServiceReference.ITriggerRequestNotification" name="SecondaryEndpoint" behaviorConfiguration="ClientCertificateBehavior"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Headers" value="*" />
     </customHeaders>
   </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>