<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RetryAttempts" value="2"/>
    <add key="breakupTime" value="6"/>
    <add key="RequestTypesToBeTracked" value="TBN,BulkSend"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITriggerRequestNotification" closeTimeout="00:01:40" openTimeout="00:01:40" receiveTimeout="00:01:40" sendTimeout="00:01:40" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="296960" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="296960" maxNameTableCharCount="296960"/>
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" negotiateServiceCredential="false" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="a1f38f83de6991234240fddacba1af4e75145c26" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <!--5541feadfaed7e6dae0cc60bcdbc55427cd8e25c
            248b781f0c4526b52139bf32fec190bec93aa564
            d797f7b12dd009e7ba60deee67e9d3b7bcd0f737
            ba10fd0b14655131938981c17ff432cee7afcb98
            -->
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--Azure Primary URL-->
      <endpoint address="https://emailinterchangeapi-dev.trafficmanager.net/TriggerRequestNotification.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITriggerRequestNotification" contract="AzureServiceReference.ITriggerRequestNotification" name="PrimaryEndpoint" behaviorConfiguration="ClientCertificateBehavior"/>
      <!--Azure Secondary URL-->
      <endpoint address="https://emailinterchangeapi-dev.trafficmanager.net/TriggerRequestNotification.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITriggerRequestNotification" contract="AzureServiceReference.ITriggerRequestNotification" name="SecondaryEndpoint" behaviorConfiguration="ClientCertificateBehavior"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
