<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecretsCertificateThumbprint" value="1B647BE314FBC0E8ECCD885C3442A9E63C7EB5B5"/>
    <add key="Encrypted_AzureSqlConnectionString" value="Rd5+Qfx+t9JmygL3BfkT2n2BBGloK6yrjTVIok0WwdGg4jJGpqQ/JKO7S9aNROe3W0DqkKfwKZWO2oMPXne7ln68in6b7mW1vKWkoNv1nFc5ZCmmDCSwPMpwc7CO0C9c9BcPgzeQUTtkpgJN9+UjWGmtIDGbqI9JBMtNXGcMm7cU6kgRMhb40QCfjL5v6EZF96BCNC4hYL21hRglpVtmdnSmxommC8mJzYw69evIKI9vg2jhMigr/5vMOYA6eRvEMqr4hUx8BjL3nj5V/eMLJAIYJGBCB4NQt/FGP+dUOpcj6yuxTJqeZHFK54errU+DbjG9wqY8aQD+6n5iTsZm1w=="/>
    <add key="SqlCommandFile" value="D:\Usr\Ashok\SimpleSqlQuery.sql"/>
    <add key="LocalDownloadsDirectory" value="..\downloads"/>
    <add key="V1_SourceDirectory" value="/export"/>
    <add key="V1_DestinationDirectory" value="\\BY2MSFTVEIHO52\BulkInsertShare\Test_v1"/>
    <add key="V1_SftpServer" value="ftp1.exacttarget.com"/>
    <add key="V1_SftpUsername" value="10460681"/>
    <add key="V1_Encrypted_SftpPassword" value="n3Fwd7W6iO++JLXhTnKbKZyDMB0m/KdobZuD8ZQbaknPWmCI4OwwhTsuLCDfJEOEQbjMFU+YsP4JNbZ3e6Ua7oygFB6U+w0tIptPCj2prcVMK5S8o1J6k1GY7rH6jAYjCriFUQX+7zqKQXCGc+eIG9AUq468QV8DwF3VlfPIm12qOvCC3SJtV74y9T07yOi74gMx879pjuLmbwdKifOZbExSeJ1A5z4S/VQydaXP3BfdBKB6ONj4/9JshwSwqmeTn322M58bxiL7AOKcL2Ta1Hw2TH2I7kOG5CizaprxiWnVmrpfocVOcaMEy/ToLMn7vaSsNwHTFSLyfvR3z6zgjw=="/>
    <add key="V1_DecryptionKey" value="EIisPENSreplacement!"/>
    <add key="V2_SourceDirectory" value="/export"/>
    <add key="V2_DestinationDirectory" value="\\BY2MSFTVEIHO52\BulkInsertShare\Test_v2"/>
    <add key="V2_SftpServer" value="ftp1.exacttarget.com"/>
    <add key="V2_SftpUsername" value="10460681"/>
    <add key="V2_Encrypted_SftpPassword" value="n3Fwd7W6iO++JLXhTnKbKZyDMB0m/KdobZuD8ZQbaknPWmCI4OwwhTsuLCDfJEOEQbjMFU+YsP4JNbZ3e6Ua7oygFB6U+w0tIptPCj2prcVMK5S8o1J6k1GY7rH6jAYjCriFUQX+7zqKQXCGc+eIG9AUq468QV8DwF3VlfPIm12qOvCC3SJtV74y9T07yOi74gMx879pjuLmbwdKifOZbExSeJ1A5z4S/VQydaXP3BfdBKB6ONj4/9JshwSwqmeTn322M58bxiL7AOKcL2Ta1Hw2TH2I7kOG5CizaprxiWnVmrpfocVOcaMEy/ToLMn7vaSsNwHTFSLyfvR3z6zgjw=="/>
    <add key="V2_DecryptionKey" value="EIisPENSreplacement!"/>
    <add key="Logfile" value="c:\temp\rio_failure_logs.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>