<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientSubscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientSubscriber.Properties.Settings>
            <setting name="ClientSubscriber_Web_HelloWorld_HelloWorldService"
                serializeAs="String">
                <value>http://localhost:1836/HelloWorldService.asmx</value>
            </setting>
        </ClientSubscriber.Properties.Settings>
    </applicationSettings>

  <appSettings>
    <add key ="REQ_LOGFILE" value="c:\log\SOAPReq_log.txt"/>
    <add key ="RES_LOGFILE" value="c:\log\SOAPRes_log.txt"/>

    <add key ="LogTypeMode" value="3"/>
  <!-- None = 0,
        RequestOnly = 1,
        ResponseOnly = 2,
        RequestReponse = 3 -->
  </appSettings>
      

</configuration>